{% extends "squadpoint/layout.html" %}
{% block body %}
<div>
    <p style="margin: 25px; font-size: 14px;">
        <hr>
    <ul>
        <li>Squadpoint is a web application that allows users interested in team sports to compete, interact, reserve
            courts in an easy organized way at any time and place using their smartphones or computers.
        </li>
        <li>
            The main goal of this application is to create a friendly platform for people in love with competitive
            racket sports(tennis, table tennis, badminton, and padel) to find an easy way to reserve courts and find
            opponents. All within a friendly contained environment full of sportsmanship spirit.

        </li>
        <li>
            It's a very smooth way to register and secure your reservation for sport courts without worrying about it
            being taken. In addition, to finding other opponent teams to add a spice of competition.

        </li>
        <li>
            Squadpoint intends to be the main organizer and intermediate application between racket sport lovers and the
            courts owners. It gives a platform to our participants to reserve courts,and compete easily.

        </li>
    </ul>
    <hr>
    </p>
</div>
{% endblock%}